@import 'remixicon/fonts/remixicon.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;

  color: black;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: black; /* Changed from #0c0e09 to a lighter shade */
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

/*Prose CSS */

.prose {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
}

.prose h1 {
  color: #f7f8fa;
  font-size: 32px;
}

.prose h2 {
  color: #f7f8fa;
  font-size: 24px;
}

.prose h3 {
  color: #f7f8fa;
  font-size: 18px;
}

.prose h4 {
  color: #f7f8fa;
  font-size: 12px;
}

.prose p {
  color: #f7f8fa;
  line-height: 1.5;
}

/* 8E8E93 */

.prose:focus,
.prose:focus-within {
  outline: none;
  border: none;
}

.task-list-inline ul[data-type='taskList'] {
  padding-left: 0;
}

.task-list-inline ul[data-type='taskList'] li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25em;
  padding: 0.25em 0;
}

.task-list-inline ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.25em;
  user-select: none;
}

.task-list-inline ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

/* New styles for nested tasks */
.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] {
  margin-top: 0.75em;
}

.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] li {
  margin-bottom: 0.25em;
}

.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] li:last-child {
  margin-bottom: 0;
}

.task-list-inline ul[data-type='taskList'] {
  padding-left: 0;
}

.task-list-inline ul[data-type='taskList'] li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.75em;
  padding: 0.25em 0;
}

.task-list-inline ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  margin-right: 0.5em;
  user-select: none;
}

.task-list-inline ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
  margin-top: -2px; /* Move the text slightly up */
}

/* Styles for nested tasks */
.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] {
  margin-top: 0.75em;
  padding-left: 0.1rem;
}

.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] li {
  margin-bottom: 0.5em;
}

.task-list-inline ul[data-type='taskList'] ul[data-type='taskList'] li:last-child {
  margin-bottom: 0;
}

/* Add these styles for bullet points and ordered lists */
.ProseMirror ul,
.ProseMirror ol {
  padding-left: 1.5rem;
}

.ProseMirror ul {
  list-style-type: disc;
}

.ProseMirror ol {
  list-style-type: decimal;
}

/**/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure modal is above other content */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.554);
  z-index: 10;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(22, 163, 74, 0.5) transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(22, 163, 74, 0.5);
  border-radius: 3px;
  border: transparent;
}

/* Add these styles */
html,
body {
  background: transparent !important;
  overflow: hidden;
}
